<nav class="navbar navbar-expand-md bg-dark">
    <a href="/" class="navbar-brand ms-4"><span class="material-symbols-outlined text-success material-icons md-48">
        shop
        </span></a>
    <button class="navbar-toggler bg-light" data-bs-toggle="collapse" data-bs-target="#navbar"><span class="navbar-toggler-icon"></span></button>
    <div id="navbar" class="collapse navbar-collapse">   
    <ul class="navbar-nav">
        <li class="navbar-item dropdown"><a class="nav-link text-light text-uppercase fw-bold px-3 dropdown-toggle" data-bs-toggle="dropdown" href="">Categories</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'home' %}">All products</a>
                {% for category in cat%}
                <a class="dropdown-item" href="{{category.get_url}}">{{category.name}}</a>
                {% endfor %}
            </div>
        </li>
        {% if user.is_authenticated %}
        <li class="navbar-item"><a class="nav-link text-light text-uppercase fw-bold px-3" href="{% url 'cart_detail' %}">Cart</a></li>
        {% else %}
        <li class="navbar-item"><a class="nav-link text-light text-uppercase fw-bold px-3" href="#">Cart</a></li>
        {% endif %}
        <li class="navbar-item"><a class="nav-link text-light text-uppercase fw-bold px-3" href="">About</a></li>
        {% if request.user.is_authenticated %}
        <li class="navbar-item"><span class="nav-link text-light text-uppercase fw-bold px-3">Welcom, {{ request.user.username }}! 
            <span class="material-symbols-outlined cart-icon">account_circle</span>
        </span></li>
        <li class="navbar-item"><a class="nav-link text-light text-uppercase fw-bold px-3" href="{% url 'logout' %}">Sign Out 
            <span class="material-symbols-outlined cart-icon">logout</span>
        </a></li>

        {% else %}
        <li class="navbar-item"><a class="nav-link text-light text-uppercase fw-bold px-3" href="{% url 'register' %}">Sign Up 
            <span class="material-symbols-outlined cart-icon">add</span>
        </a></li>

        <li class="navbar-item"><a class="nav-link text-light text-uppercase fw-bold px-3" href="{% url 'login' %}">Log in 
            <span class="material-symbols-outlined cart-icon">login</span>
        </a></li>

        {% endif %}

        {% if item_count > 0 %}
        <li class="navbar-item"><a class="nav-link text-light text-uppercase fw-bold px-3" href="#">
                <span class="material-symbols-outlined cart-icon">add_shopping_cart</span>
            ({{item_count}})</a></li>
        {% endif %}
    </ul>
    </div> 

    <form class="form-inline">
        <div class="input-group">
            <input type="text" placeholder="Search">
            <div>
                <button class="bg-success"><span class="material-symbols-outlined material-icons.md-24">search</span></button>
            </div>
        </div>
    </form>
    </div> 
</nav>

